@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

nav li {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400px;
  font-style: normal;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 413px;
    width: 100%;
    height: 160px;
    background-color: rgb(50, 235, 207);
    border: 10px solid;
}

header nav ul li {
    display: inline-block;
    border: 10px solid;
    border-radius: 50px;
    width: 241px;
    height: 77px;
    margin-right: 145px;
    background-color: rgb(138, 172, 235);
}

header nav ul li a{
    text-decoration: none;
}

